<template>
  <div class="page container">
    <c-subtitle>Only Dativ</c-subtitle>
    <word-table :labels="labels" :values="valuesDat" />
    <c-subtitle>Only Akk</c-subtitle>
    <word-table :labels="labels" :values="valuesAkk" />
    <c-subtitle>Wechsel Propositionen(Can be both)</c-subtitle>
    <word-table :labels="labels" :values="valuesWechsel" />
  </div>
</template>

<script lang="ts">
  import Vue from "vue"
  // Components
  import WordTable from "~/components/words-table/Table.vue"
  // Types
  // Mocks
  import { onlyDat, onlyAkk, wechsel } from "~/mocks/propositions.mock"
  import IProposition from "~/types/IProposition"

  export default Vue.extend({
    name: "Propositions",
    components: {
      WordTable
    },
    data: () => ({
      labels: ["Proposition", "Case"],
      valuesDat: [] as any,
      valuesAkk: [] as any,
      valuesWechsel: [] as any
    }),
    methods: {
      combineProposition(proposition: IProposition): object {
        return {
          name: proposition.name,
          case: proposition.caseAfter.join(", ")
        }
      },
      parseValues() {
        onlyDat.forEach((proposition: IProposition) => {
          this.valuesDat.push(this.combineProposition(proposition))
        })
        onlyAkk.forEach((proposition: IProposition) => {
          this.valuesAkk.push(this.combineProposition(proposition))
        })
        wechsel.forEach((proposition: IProposition) => {
          this.valuesWechsel.push(this.combineProposition(proposition))
        })
      }
    },
    created() {
      this.parseValues()
    }
  })
</script>
