<template>
  <div class="page container">
    <c-page-header text-align="left">Some useful verbs</c-page-header>
    <c-card class="mb-8"><c-input v-model="filter" /></c-card>
    <word-table :labels="labels" :values="filteredVerbs" />
    <c-scroll-button />
  </div>
</template>

<script lang="ts">
  import Vue from "vue"
  // Components
  import WordTable from "~/components/words-table/Table.vue"
  // Types
  import IUsefulVerb from "~/types/IUsefulVerb"
  // Mocks
  import { usefulVerbs } from "~/mocks/usefulVerbs.mock"
  // Utils
  import utils from "~/assets/ts/utils"

  export default Vue.extend({
    name: "UsefulVerbs",
    components: {
      WordTable
    },
    data: () => ({
      labels: ["", "Verb", "Proposition", "Case", "Translation"],
      values: [] as any,
      filter: ""
    }),
    computed: {
      filteredVerbs(): IUsefulVerb[] {
        return utils.getFilteredWords(this.values, this.filter)
      }
    },
    methods: {
      combineVerb(verb: IUsefulVerb): object {
        return {
          id: verb.id.toString(),
          verb: verb.verb,
          proposition: verb.proposition,
          case: verb.case,
          translation: verb.translation
        }
      },
      parseValues() {
        usefulVerbs.forEach((verb: IUsefulVerb) => {
          this.values.push(this.combineVerb(verb))
        })
      }
    },
    created() {
      this.parseValues()
    }
  })
</script>
