<template>
  <c-card>
    <table class="word-table">
      <thead>
        <tr>
          <th v-for="(label, key) in labels" :key="key">{{ label }}</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(value, key) in values" :key="key">
          <td v-for="(property, propKey) of value" :key="propKey">
            {{ property }}
          </td>
        </tr>
      </tbody>
    </table>
  </c-card>
</template>

<script lang="ts">
  import Vue from "vue"

  export default Vue.extend({
    name: "WordTable",
    props: {
      labels: {
        type: Array,
        required: true
      },
      values: {
        type: Array,
        required: true
      }
    }
  })
</script>

<style scoped lang="scss">
  .word-table {
    @apply w-full text-left;
    th {
      @apply px-4 py-4 text-xl font-light sticky top-0 bg-white relative;

      &::after {
        content: "";
        height: 2px;
        background: var(--color-primary-dark);
        @apply block absolute bottom-0 left-0 w-full;
      }
    }
    td {
      @apply p-4;
    }
    tbody {
      tr {
        border-color: var(--color-devider);
        @apply bg-white transition-colors border-b;

        &:hover {
          @apply bg-gray-100;
        }
      }
    }
  }
</style>
