<template>
  <div class="page container container_small">
    <c-page-header text-align="left">Guess the genus game</c-page-header>
    <div class="game game_genus">
      <div class="game__controls">
        <div class="game__stats">
          Guessed: {{ correctAttempts }} / {{ attempts }}
        </div>
        <c-button :disabled="!wasGuessed" @click.native="getNextWord"
          >Next</c-button
        >
      </div>
      <c-card class="game__guess-word" :class="classes">{{
        currentWord.noun
      }}</c-card>
      <div class="game__option__list">
        <c-button
          v-for="(item, index) in genders"
          :key="index"
          :persist="item.article === currentWord.genus.article"
          class="game__option__item"
          :disabled="!isButtonsEnabled"
          @click.native="makeGuess(item.article)"
        >
          {{ item.article }}
        </c-button>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
  import Vue from "vue"
  // Types
  import INoun from "~/types/INoun"
  import IGenus from "~/types/IGenus"
  import IGenusGameNoun from "~/types/IGenusGameNoun"
  // Mocks
  import nounList from "~/mocks/nounList.mock"
  import genusList from "~/mocks/genusList.mock"
  import utils from "~/assets/ts/utils"

  export default Vue.extend({
    name: "GenusGame",
    data: () => ({
      genders: genusList as IGenus[],
      nouns: nounList as INoun[],
      currentWord: {} as IGenusGameNoun,
      guessed: [] as IGenusGameNoun[],
      wasGuessed: false as boolean,
      wasCorrect: false as boolean,
      isButtonsEnabled: true as boolean
    }),
    computed: {
      classes() {
        return {
          "game__guess-word_success": this.wasGuessed && this.wasCorrect,
          "game__guess-word_error": this.wasGuessed && !this.wasCorrect
        }
      },
      correctAttempts(): number {
        const correctGuesses = this.guessed.filter((guess) => guess.correct)
        return correctGuesses.length
      },
      attempts(): number {
        return this.guessed.length
      }
    },
    created() {
      this.guessed = []
      this.getNextWord()
    },
    methods: {
      getRandNoun(): IGenusGameNoun {
        const rand = utils.getRandFrom(this.nouns.length)
        const noun = this.nouns[rand]

        return Object.assign({}, noun, {
          guessed: false,
          correct: false
        })
      },
      getNextWord() {
        let randNoun = this.getRandNoun()

        if (!this.currentWord.noun) {
          this.currentWord = randNoun
          return
        }

        while (this.currentWord.noun === randNoun.noun) {
          randNoun = this.getRandNoun()
        }

        this.resetControls()
        this.currentWord = randNoun
      },
      resetControls() {
        this.wasGuessed = this.wasCorrect = false
        this.isButtonsEnabled = true
      },
      makeGuess(genus: string) {
        const nounArticle = this.currentWord.genus.article
        this.isButtonsEnabled = false

        this.currentWord.correct = genus === nounArticle
        this.currentWord.guessed = true
        this.guessed.push(this.currentWord)

        this.wasCorrect = this.currentWord.correct
        this.wasGuessed = this.currentWord.guessed
      }
    }
  })
</script>

<style scoped lang="scss">
  .game {
    @apply grid gap-4 grid-cols-1 grid-rows-1 mx-auto;
    &__controls {
      @apply flex justify-between items-center;
    }
    &__guess-word {
      @apply flex justify-center items-center px-4 py-8 w-full text-xl transition-colors;

      &_success {
        background: var(--color-primary) !important;
        @apply text-white;
      }

      &_error {
        background: var(--color-error) !important;
        @apply text-white;
      }
    }
    &__option__list {
      @apply grid gap-4 grid-cols-1 grid-rows-3 sm:grid-cols-3 sm:grid-rows-1 sm:gap-8;
    }
    &__option__item {
      @apply flex;
    }
  }
</style>
