<template>
  <footer class="page-footer">
    <div class="page-footer__line">Created by: Ivan Bragin</div>
    <div class="page-footer__line">
      Made with Nuxt <NuxtIcon class="page-footer__icon" /> and
      <HeartOutlineIcon class="page-footer__icon" />
    </div>
  </footer>
</template>

<script lang="ts">
  import Vue from "vue"

  export default Vue.extend({
    name: "Footer"
  })
</script>

<style scoped lang="scss">
  .page-footer {
    letter-spacing: 2.5px;
    @apply text-center font-light py-6;

    &__line {
      @apply flex justify-center;
    }

    &__icon {
      @apply mx-2;
    }
  }
</style>
