<template>
  <header class="c-header">
    <NuxtLink to="/" class="c-header__link">
      <HomeIcon v-if="isHomeRoute" class="c-header__icon" />
      <ArrowLeftIcon v-else class="c-header__icon" />
      {{ label }}
    </NuxtLink>
  </header>
</template>

<script lang="ts">
  import Vue from "vue"

  export default Vue.extend({
    name: "Header",
    props: {
      label: {
        type: String,
        default: "German language cheat-sheet"
      }
    },
    computed: {
      isHomeRoute(): boolean {
        return this.$route.fullPath === "/"
      }
    }
  })
</script>

<style scoped lang="scss">
  .c-header {
    background: var(--color-primary-dark);
    @apply py-6 px-4 font-light text-2xl text-white shadow-lg;

    &__link {
      @apply flex justify-start items-center;
    }

    &__icon {
      @apply mr-2;
    }
  }
</style>
