<template>
  <div class="page container">
    <c-page-header text-align="left">Irregular verbs</c-page-header>
    <c-card class="mb-8"><c-input v-model="filter" /></c-card>
    <word-table :labels="labels" :values="filteredValues" />
    <c-scroll-button />
  </div>
</template>

<script lang="ts">
  import Vue from "vue"
  // Components
  import WordTable from "~/components/words-table/Table.vue"
  // Types
  import IIrregularVerb from "~/types/IIrregularVerb"
  // Mocks
  import irregularVerbs from "~/mocks/irregularVerbs.mock"
  // Utils
  import utils from "~/assets/ts/utils"

  export default Vue.extend({
    components: {
      WordTable
    },
    data: () => ({
      filter: "",
      labels: [
        "",
        "Infinitiv",
        "Präsens",
        "Präteritum",
        "Perfekt",
        "Translation"
      ],
      values: [] as any
    }),
    computed: {
      filteredValues(): IIrregularVerb[] {
        return utils.getFilteredWords(this.values, this.filter)
      }
    },
    methods: {
      combineVerb(verb: IIrregularVerb): object {
        return {
          id: verb.id.toString(),
          infinitive: verb.infinitive,
          present: verb.present,
          past: verb.past,
          perfect: verb.perfect,
          translation: verb.translation
        }
      },
      parseValues() {
        irregularVerbs.forEach((verb: IIrregularVerb) => {
          this.values.push(this.combineVerb(verb))
        })
      }
    },
    created() {
      this.parseValues()
    }
  })
</script>
