<template>
  <div class="page container">
    <c-page-header text-align="left">Some useful Nouns</c-page-header>
    <c-card class="mb-8"><c-input v-model="filter" /></c-card>
    <word-table :labels="labels" :values="filteredValues" />
    <c-scroll-button />
  </div>
</template>

<script lang="ts">
  import Vue from "vue"
  // Components
  import WordTable from "~/components/words-table/Table.vue"
  // Types
  import INoun from "~/types/INoun"
  // Mocks
  import nounList from "~/mocks/nounList.mock"
  // Utils
  import utils from "~/assets/ts/utils"

  export default Vue.extend({
    name: "UsefulNouns",
    components: {
      WordTable,
    },
    data: () => ({
      labels: ["", "genus", "noun", "translation", "plural"],
      values: [] as any,
      filter: ""
    }),
    computed: {
      filteredValues(): INoun[] {
        return utils.getFilteredWords(this.values, this.filter)
      }
    },
    methods: {
      combineNoun(noun: INoun): object {
        return {
          id: noun.id.toString(),
          article: noun.genus.article,
          noun: noun.noun,
          translation: noun.translation,
          plural: noun.plural
        }
      },
      parseValues() {
        nounList.forEach((noun: INoun) => {
          this.values.push(this.combineNoun(noun))
        })
      }
    },
    created() {
      this.parseValues()
    }
  })
</script>
