<template>
  <div class="page container container_small">
    <c-page-header text-align="left">
      Write the perfect form of a verb
    </c-page-header>
    <div v-if="currentWord !== undefined" class="game">
      <c-card class="game__guess-word" :class="classes">
        {{ currentWord.verb }}
      </c-card>
      <c-subtitle class="flex justify-between items-center">
        Your answer:
        <c-button type="button" class="button_skip" @click.native="getNextWord">
          Next Word
        </c-button>
      </c-subtitle>
      <p class="table-description">
        Keep in mind that you have to put ist/hat at the beginning. Ex.: "ist
        abgefahren"
      </p>
      <form class="game__controls" @submit.prevent="onSubmit">
        <c-card class="flex-1 mr-4"><c-input v-model="answer" /></c-card>
        <c-button type="submit" :disabled="hasAnswer">Check</c-button>
      </form>
    </div>
  </div>
</template>

<script lang="ts">
  import Vue from "vue"
  // Components
  // Types
  import IVerb from "~/types/IVerb"
  // Mocks
  import verbsMock from "~/mocks/verbs/index.mock"
  // Utils
  import utils from "~/assets/ts/utils"

  export default Vue.extend({
    data: () => ({
      answer: "",
      verbs: undefined as IVerb[] | undefined,
      currentWord: {} as IVerb,
      wasGuessed: false as Boolean,
      wasCorrect: false as Boolean
    }),
    computed: {
      hasAnswer(): boolean {
        return this.answer.trim().toLowerCase() === ""
      },
      classes() {
        return {
          "game__guess-word_success": this.wasGuessed && this.wasCorrect,
          "game__guess-word_error": this.wasGuessed && !this.wasCorrect
        }
      },
    },
    methods: {
      onSubmit() {
        if (!this.hasAnswer) return

        this.wasCorrect = this.checkIfCorrect()
        this.wasGuessed = true
      },
      checkIfCorrect(): boolean {
        return this.currentWord.perfect === this.answer.trim().toLowerCase()
      },
      getNextWord() {
        this.answer = ""
        this.wasGuessed = false
        this.wasCorrect = false
        const randVerb = verbsMock[utils.getRandFrom(verbsMock.length)]
        this.currentWord = randVerb
      }
    },
    created() {
      this.getNextWord()
    }
  })
</script>

<style scoped lang="scss">
  .game {
    &__guess-word {
      @apply relative flex justify-center items-center px-4 py-8 w-full text-xl transition-colors;

      &_success {
        background: var(--color-primary) !important;
        @apply text-white;
      }

      &_error {
        background: var(--color-error) !important;
        @apply text-white;
      }
    }
    &__controls {
      @apply flex justify-between items-center;
    }
  }
  .button_skip {
    @apply text-sm;
  }
</style>
