<template>
  <div class="page container">
    <c-page-header text-align="left">Declination</c-page-header>
    <c-subtitle>Diklination 1</c-subtitle>
    <p class="table-description">Ein/kein/mein/dein... + Adj. + Nomen</p>
    <word-table :labels="labels" :values="firstValues" />
    <c-subtitle>Diklination 2</c-subtitle>
    <p class="table-description">Der/die/das... + Adj. + Nomen</p>
    <word-table :labels="labels" :values="secondValues" />
    <c-subtitle>Diklination 3</c-subtitle>
    <p class="table-description">(Ohne Artikel) Adj. + Nomen</p>
    <word-table :labels="labels" :values="thirdValues" />
  </div>
</template>

<script lang="ts">
  import Vue from "vue"
  // Components
  import WordTable from "~/components/words-table/Table.vue"
  // Mocks
  import {
    declination1,
    declination2,
    declination3
  } from "~/mocks/declination.mock"

  export default Vue.extend({
    name: "Declination",
    components: {
      WordTable
    },
    data: () => ({
      labels: ["", "Nom", "Dat", "Akk"],
      firstValues: declination1,
      secondValues: declination2,
      thirdValues: declination3
    })
  })
</script>
