<template>
  <div class="layout layout_default">
    <Header />
    <Nuxt />
    <Footer />
  </div>
</template>

<script lang="ts">
  import Vue from "vue"
  import Header from "~/components/layout/Header.vue"
  import Footer from "~/components/layout/Footer.vue"

  export default Vue.extend({
    components: {
      Header,
      Footer
    }
  })
</script>

<style lang="scss">
  @font-face {
    font-family: "Lato";
    src: url("assets/fonts/Lato/Lato-Bold.ttf");
    font-weight: 700;
  }
  @font-face {
    font-family: "Lato";
    src: url("assets/fonts/Lato/Lato-Regular.ttf");
    font-weight: 400;
  }
  @font-face {
    font-family: "Lato";
    src: url("assets/fonts/Lato/Lato-Light.ttf");
    font-weight: 300;
  }
  @font-face {
    font-family: "Lato";
    src: url("assets/fonts/Lato/Lato-Thin.ttf");
    font-weight: 100;
  }

  *,
  *::before,
  *::after {
    @apply m-0 box-border;
  }

  :root {
    --color-primary: #00838f;
    --color-primary-light: #4fb3bf;
    --color-primary-dark: #005662;
    --color-gray: #e1e2e1;
    --color-gray-light: #f5f5f6;
    --color-devider: #b6b6b6;
    --color-light: #ebf4f5;
    --color-dark: #020304;
    --color-error: #c62828;
    --size-field-height: 40px;
  }

  .layout {
    min-height: 100vh;

    &_default {
      display: grid;
      grid-template: auto 1fr auto / 1fr;
    }
  }

  html {
    font-size: 16px;
    font-weight: 400;
    font-family: "Lato", Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: var(--color-dark);
    background: var(--color-gray);
  }

  .container {
    max-width: 1100px;
    @apply my-0 mx-auto;

    &_small {
      max-width: 600px;
    }
  }

  .page {
    @apply px-4;
  }

  .table-description {
    @apply font-light mb-4;
  }
</style>
