<template>
  <div class="page container">
    <c-page-header text-align="left">Useful lists</c-page-header>
    <div class="homepage-card__list">
      <NuxtLink to="useful-nouns" class="homepage-card__wrapper">
        <c-card v-wave class="homepage-card">Some useful nouns</c-card>
      </NuxtLink>
      <NuxtLink to="useful-verbs" class="homepage-card__wrapper">
        <c-card v-wave class="homepage-card">
          Some useful verbs with propositions
        </c-card>
      </NuxtLink>
      <NuxtLink to="propositions" class="homepage-card__wrapper">
        <c-card v-wave class="homepage-card">List of propositions</c-card>
      </NuxtLink>
      <NuxtLink to="irregular-verbs" class="homepage-card__wrapper">
        <c-card v-wave class="homepage-card">Irregular Verbs</c-card>
      </NuxtLink>
      <NuxtLink to="declination" class="homepage-card__wrapper">
        <c-card v-wave class="homepage-card">Declination</c-card>
      </NuxtLink>
    </div>
    <c-page-header text-align="left">Some fun games</c-page-header>
    <div class="homepage-card__list">
      <NuxtLink to="genus-game" class="homepage-card__wrapper">
        <c-card v-wave class="homepage-card">Genus Game</c-card>
      </NuxtLink>
      <NuxtLink to="perfekt-form-game" class="homepage-card__wrapper">
        <c-card v-wave class="homepage-card">Perfekt Form Game</c-card>
      </NuxtLink>
    </div>
  </div>
</template>

<script lang="ts">
  import Vue from "vue"

  export default Vue.extend({})
</script>

<style scoped lang="scss">
  .homepage-card__list {
    @apply grid gap-8 grid-rows-1 grid-cols-2 sm:grid-rows-1 sm:grid-cols-4;
  }

  .homepage-card__wrapper {
    height: 200px;
  }

  .homepage-card {
    @apply p-4 text-center h-full flex justify-center items-center text-2xl font-light;
  }
</style>
