<template>
  <button
    v-wave
    :disabled="disabled"
    :type="type"
    class="c-button"
    :class="classes"
  >
    <slot />
  </button>
</template>

<script lang="ts">
  import Vue from "vue"

  export default Vue.extend({
    name: "CButton",
    props: {
      type: {
        type: String,
        default: "button"
      },
      color: {
        type: String,
        default: "primary"
      },
      disabled: {
        type: Boolean,
        default: false
      },
      error: {
        type: Boolean,
        default: false
      },
      persist: {
        type: Boolean,
        default: false
      }
    },
    computed: {
      classes() {
        return {
          "c-button_primary": this.color === "primary",
          "c-button_disabled": this.disabled,
          "c-button_error": this.error,
          "c-button_persist": this.persist
        }
      }
    }
  })
</script>

<style scoped lang="scss">
  .c-button {
    height: var(--size-field-height);
    transition-property: box-shadow, background;
    @apply flex justify-center items-center shadow-md outline-none duration-150 ease-in px-4;

    &_primary {
      background: var(--color-primary-dark);
      @apply text-white;
    }

    &:not(&_persist).c-button_disabled {
      @apply cursor-default opacity-50 bg-gray-300 text-black;
    }

    &_error {
      background: var(--color-error) !important;
    }

    &:not(&_disabled):hover {
      @apply shadow-xl;

      &_primary {
        background: var(--color-primary);
      }
    }
  }
</style>
