<template>
  <div class="c-card" :class="classes"><slot /></div>
</template>

<script lang="ts">
  import Vue from "vue"

  export default Vue.extend({
    name: "CCard",
    props: {
      animated: {
        type: Boolean,
        default: false
      },
      disabled: {
        type: Boolean,
        default: false
      }
    },
    computed: {
      classes() {
        return {
          "c-card_animated": this.animated,
          "c-card_disabled": this.disabled
        }
      }
    }
  })
</script>

<style scoped lang="scss">
  .c-card {
    background: var(--color-light);
    @apply shadow-md;

    &_animated:not(.c-card_disabled) {
      @apply transition-shadow ease-in;

      &:hover {
        @apply shadow-lg;
      }
    }

    &_disabled {
      @apply opacity-50;
    }
  }
</style>
