<template>
  <header class="c-page-header" :class="classes">
    <h1><slot></slot></h1>
  </header>
</template>

<script lang="ts">
  import Vue from "vue"

  export default Vue.extend({
    name: "CPageHeader",
    props: {
      textAlign: {
        type: String,
        default: "center"
      }
    },
    computed: {
      classes() {
        return {
          "text-center": this.textAlign === "center",
          "text-left": this.textAlign === "left"
        }
      }
    }
  })
</script>

<style scoped lang="scss">
  .c-page-header {
    @apply py-6 font-light text-4xl;
  }
</style>
