<template>
  <div class="c-input" :class="classes">
    <input
      id="table-input"
      v-model="content"
      type="text"
      :name="name"
      class="c-input__input"
      @input="onSubmit"
    />
    <span class="c-input__status"></span>
    <button v-if="!plain" type="button" class="c-input__reset" @click="onReset">
      <CloseIcon />
    </button>
  </div>
</template>

<script lang="ts">
  import Vue from "vue"

  export default Vue.extend({
    props: {
      value: {
        type: String,
        required: true
      },
      name: {
        type: String,
        default: "input"
      },
      plain: {
        type: Boolean,
        default: false
      }
    },
    data() {
      return {
        content: this.value as string
      }
    },
    computed: {
      classes(): Object {
        return {
          "c-input_filled": this.content.length,
          "c-input_error": false
        }
      }
    },
    methods: {
      onSubmit(): void {
        this.$emit("input", this.content)
      },
      onReset(): void {
        this.content = ""
        this.$emit("input", this.content)
      }
    }
  })
</script>

<style scoped lang="scss">
  .c-input {
    min-height: var(--size-field-height);
    @apply relative;
    &__status {
      height: 2px;
      background: var(--color-primary-dark);
      transform: scaleX(0);
      @apply absolute bottom-0 left-0 w-full transition-transform duration-300 origin-right;
    }
    &_error {
      .c-input__status {
        background: var(--color-error);
      }
    }
    &__input {
      min-height: var(--size-field-height);
      @apply w-full outline-none px-4 bg-white;
    }
    &_filled .c-input__status,
    &__input:active + .c-input__status,
    &__input:focus + .c-input__status {
      transform: scaleX(1);
      @apply origin-left;
    }
    &__reset {
      height: var(--size-field-height);
      width: var(--size-field-height);
      color: var(--color-gray);
      @apply flex justify-center items-center outline-none absolute top-0 right-0 transition-colors ease-in duration-300;
      &:hover {
        color: var(--color-primary);
      }
    }
  }
</style>
