<template>
  <button
    class="c-scroll-top-button"
    :class="classes"
    type="button"
    @click.prevent="onClickHandler"
  >
    <ArrowUpIcon :size="36" />
  </button>
</template>

<script lang="ts">
  import Vue from "vue"

  export default Vue.extend({
    name: "CScrollUpButton",
    data: () => ({
      active: false
    }),
    computed: {
      classes() {
        return {
          "c-scroll-top-button_active": this.active
        }
      }
    },
    mounted() {
      window.addEventListener("scroll", this.scrollListener)
    },
    beforeDestroy() {
      window.removeEventListener("scroll", this.scrollListener)
    },
    methods: {
      onClickHandler(): void {
        window.scrollTo({
          top: 0,
          left: 0,
          behavior: "smooth"
        })
      },
      scrollListener() {
        this.active = window.scrollY > 150
      }
    }
  })
</script>

<style scoped lang="scss">
  .c-scroll-top-button {
    bottom: -50px;
    right: 50px;
    height: calc(var(--size-field-height) * 1.5);
    width: calc(var(--size-field-height) * 1.5);
    background: var(--color-primary-dark);
    transition-property: bottom, opacity, visibility, color, background;
    @apply flex invisible opacity-0 fixed justify-center items-center rounded-full text-white shadow-2xl outline-none cursor-pointer duration-300;

    &:active,
    &:hover {
      background: var(--color-primary);
      @apply shadow-xl;
    }

    &_active {
      bottom: 50px;
      @apply visible opacity-100;
    }

    @media (min-width: 640px) {
      right: 100px;

      &_active {
        bottom: 15px;
      }
    }
  }
</style>
