<template>
  <div class="c-subtitle">
    <slot></slot>
  </div>
</template>

<script lang="ts">
  import Vue from "vue"

  export default Vue.extend({
    name: "CSubtitle"
  })
</script>

<style scoped lang="scss">
  .c-subtitle {
    @apply py-6 font-light text-2xl;
  }
</style>
